# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Level Data         #
######################
Mods/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/Levels/*
Mods/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/Globals/*
Editor/Mods/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/Levels/*

# Story files        #
######################
*.div
*.raw
*.osi
story_ac.dat
Mods/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/Story/Dialogs/Autosave/*
Mods/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/Story/Dialogs/Recovered/*

# Editor files       #
######################
*.config
StatsEditorConfig.*
EditorBrowserMetadata.*
EditorMetadata.*
EffectEditorConfig.*
ResourceSelectorConfig.*
RootTemplateSelectorConfig.*
meta.lsx

# Asset Folders      #
######################
Public/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/Assets/*
Public/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/Content/*
Public/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/RootTemplates/*
Public/EquipmentSets_5137eeed-ea15-4635-861f-c6c616503cd3/Voice/*

# Assets             #
######################
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
*.png
*.ttf

# Logs               #
######################
*.log
*.ailog
log.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.lsb
*.lsf
*.lsfx
*.lsefx
*.osi
*.patch
*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db